@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --aniwatch-purple: #8d09e5;
  --aniwatch-black: #141414;
  --aniwatch-dark-gray: #181818;
  --aniwatch-medium-gray: #2f2f2f;
  --aniwatch-light-gray: #808080;
  --aniwatch-white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--aniwatch-black);
  color: var(--aniwatch-white);
  overflow-x: hidden;
}

.dark {
  --background: var(--aniwatch-black);
  --foreground: var(--aniwatch-white);
  --card: var(--aniwatch-dark-gray);
  --primary: var(--aniwatch-purple);
  --primary-foreground: var(--aniwatch-white);
  --muted: var(--aniwatch-medium-gray);
  --muted-foreground: var(--aniwatch-light-gray);
  --border: var(--aniwatch-medium-gray);
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--aniwatch-black);
}

::-webkit-scrollbar-thumb {
  background: var(--aniwatch-medium-gray);
  border-radius: 4px;
}

